.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    font-size: 18px;
    margin-top: auto;
    position: sticky;
    bottom: 0;

    &__social {
        color: #007bff;
        text-decoration: none;
        margin-right: 10px;
        font-size: 24px;

        a {
            &:hover {
                color: #004e8c;
            }
        }
    }

    &__contact {
        margin-left: auto;
        font-weight: bold;
        text-shadow: 1px 1px #ccc;
    }
}