@import '../config/variables.scss';

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $nav-background-color;
    padding: 0.6rem;

    &__logo {
        margin-right: 20px;

        a {
            text-decoration: none;
            font-size: inherit;
            position: relative;

            &:

            &::before {
                content: '';
                position: absolute;
                top: -5px;
                left: -5px;
                right: -5px;
                bottom: -5px;
                background-color: #007bff;
                z-index: -1;
                transform: rotate(-5deg);
                transition: transform 0.3s ease-out;
            }
        }
    }

    &__lists {
        a{
            text-decoration: none;
            margin-right: 20px;
            font-size: inherit;
            font-weight: bold;

            &:hover {
                color: white;
                background-color: #007bff;
                border-radius: 5px;
                padding: 5px 10px;
            }
        }

        .link {
            &--active {
                color: white;
                background-color: #007bff;
                border-radius: 5px;
                padding: 5px 10px;
            }
        }
    }
}