@import '../config/variables.scss';

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $nav-background-color;
    padding: 0.6rem;

    &__logo {
        margin-right: 20px;

        span {
            font-weight: bold;
            text-shadow: 1px 1px #ccc;
        }

        a {
            text-decoration: none;
            font-size: 2rem;
        }
    }

    &__lists {
        a{
            text-decoration: none;
            margin-right: 20px;
            font-size: inherit;
            font-weight: bold;

            &:hover {
                color: white;
                background-color: #007bff;
                border-radius: 5px;
                padding: 5px 10px;
            }
        }

        .link {
            &--active {
                color: white;
                background-color: #007bff;
                border-radius: 5px;
                padding: 5px 10px;
            }
        }
    }
}