@import '../config/variables.scss';

.nav {
    background-color: $nav-background-color;
    color: $nav-color;
    padding: 0.5rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}